.about {
	padding: 30px 15px;
	background: #eee;
}
a:hover {
	text-decoration: none;
}
.fs {
	background: #fff;
	box-shadow: 2px 2px 3px #ccc;
	padding-top: 5px;
}
.fs h3 {
	font-size: 18px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.fs p {
	font-size: 13px;
	line-height: 2;
	color: #666;
}
@media (min-width: 786px) {
	.fs h3 {
		font-size: 22px;
	}
	.fs p {
		font-size: 16px;
	}
}