#myCarousel {
	margin-top: 50px;
}
#myCarousel img {
	margin: 0 auto;
}

.tab1 .tab1-h2 {
	font-size: 20px;
	text-align: center;
	color: #0059b2;
}
.tab1 .tab1-p {
	font-size: 15px;
	color: #999;
	text-align: center;
	margin: 20px 0 40px 0;
}
@media (min-width: 768px) {
	.tab1 .tab1-h2 {
		font-size: 22px;
	}
	.tab1 .tab1-p {
		font-size: 16px;
	}
}
@media (min-width: 992px) {
	.tab1 .tab1-h2 {
		font-size: 25px;
	}
	.tab1 .tab1-p {
		font-size: 17px;
	}
}
@media (min-width: 1200px) {
	.tab1 .tab1-h2 {
		font-size: 30px;
	}
	.tab1 .tab1-p {
		font-size: 18px;
	}
}

.tab1 .del {
	text-decoration: line-through;
	color: #666;
}
.tab1 .media {
	margin-bottom: 30px;
}

.tab2 {
	background: #eee;
	text-align: center;
	padding: 40px 10px;

}
.tab2 img {
	width: 60%;
	height: 60%;
}
.tab3 {
	text-align: center;
	padding: 40px 0;
}

.tab2 h3,.tab3 h3 {
	font-size: 20px;
}
.tab2 p,.tab3 p {
	font-size: 14px;
}

@media (min-width: 768px) {
	.tab2 h3,.tab3 h3 {
		font-size: 22px;
	}
	.tab2 p,.tab3 p {
		font-size: 15px;
	}
	.text-right {
		float: right;
	}
}
@media (min-width: 992px) {
	.tab2 h3,.tab3 h3 {
		font-size: 24px;
	}
	.tab2 p,.tab3 p {
		font-size: 16px;
	}
}
@media (min-width: 1200px) {
	.tab2 h3,.tab3 h3 {
		font-size: 26px;
	}
	.tab2 p,.tab3 p {
		font-size: 17px;
	}
}
