.info {
	background: #eee;
	padding: 30px 0;
}
.info .fluid-one .row{
	margin-bottom: 20px;
	box-shadow: 2px 2px 3px #ccc;
	background: #fff;
	line-height: 1.6;
}
.info .fluid-one .row img {
	padding: 15px 0;
}
.info .fluid-one .row h4 {
	padding: 5px 0 0 0;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.info .fluid-one .row p {
	font-size: 1px;
}
@media (min-width: 768px) {
	.info .fluid-one .row h4 {
		font-size: 16px;
	}
	.info .fluid-one .row p {
		font-size: 11px;
	}
}
@media (min-width: 992px) {
	.info .fluid-one .row h4 {
		font-size: 18px;
	}
	.info .fluid-one .row p {
		font-size: 12px;
	}
}
@media (min-width: 1200px) {
	.info .fluid-one .row h4 {
		font-size: 20px;
	}
	.info .fluid-one .row p {
		font-size: 14px;
	}
}

.fluid-two {
	background: #fff;
	padding: 0 15px;
}
.fluid-two blockquote {
	margin: 10px 0;
	padding: 5px;
}
.fluid-two blockquote h4 {
	margin: 0;
	padding: 0;
}

.fluid-two .row-two {
	padding: 0 0 10px 10px;
	margin: 0;
}
.fluid-two .row h4 {
	margin: 0;
	font-size: 14px;
	line-height: 1.2;
	padding-bottom: 6px;
}
@media (max-width: 592px) {
	.hidden-auto {
		display: none;
	}
}